Source: ncsa-httpd
Section: net
Priority: optional
Homepage: https://en.wikipedia.org/wiki/NCSA_HTTPd
Maintainer: Ryan Finnie <ryan@finnie.org>
Build-Depends: debhelper (>= 9), libgdbm-dev, libgdbm-compat-dev
Standards-Version: 4.1.4

Package: ncsa-httpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: perl, tclsh
Description: NCSA HTTPd, a classic web server
 NCSA HTTPd is an HTTP/1.0 compatible server for making hypertext and other
 documents available to Web browsers.
 .
 Note that this software was last updated in 1995, and has only been patched
 to compile on modern systems. It is full of known vulnerabilities, and
 SHOULD NOT BE USED ON ANY PUBLIC SYSTEM!
