#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) clean
	rm -f support/auth/uuencode
	rm -f support/auth/uudecode
	dh_clean

override_dh_auto_build:
	$(MAKE) -C src tar AUX_CFLAGS="-DLINUX $(CPPFLAGS) $(CFLAGS)" LDFLAGS="$(LDFLAGS)"
	$(MAKE) -C cgi-src all CFLAGS="$(CPPFLAGS) $(CFLAGS)" LDFLAGS="$(LDFLAGS)"
	$(MAKE) -C support all CFLAGS="-DLINUX $(CPPFLAGS) $(CFLAGS)" LDFLAGS="$(LDFLAGS)" EXTRA_LIBS="-lgdbm -lgdbm_compat -lcrypt"
	$(MAKE) support/auth/uuencode
	$(MAKE) support/auth/uudecode

override_dh_auto_install:
	# httpd binary itself
	install -m 0755 -d $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd
	install -m 0755 httpd $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/httpd

	# Empty required directories
	install -m 0755 -d $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/htdocs
	install -m 0755 -d $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/logs

	# Copy over all of cgi-bin and icons
	cp -R cgi-bin $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/
	cp -R icons $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/

	# Config files.
	install -m 0755 -d $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/conf
	install -m 0644 conf/mime.types $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/conf/mime.types
	install -m 0644 conf/access.conf-dist $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/conf/access.conf
	install -m 0644 conf/httpd.conf-dist $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/conf/httpd.conf
	install -m 0644 conf/localhost_srm.conf-dist $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/conf
	install -m 0644 conf/srm.conf-dist $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/conf/srm.conf

	# Support binaries
	install -m 0755 -d $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/dbm2std $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/dbmdigest $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/dbmgroup $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/dbmpasswd $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/htdigest $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/htpasswd $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/inc2shtml $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/std2dbm $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/unescape $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support
	install -m 0755 support/webgrab $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support

	# Support auth binaries
	install -m 0755 -d $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support/auth
	install -m 0755 support/auth/pgp-dec $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support/auth
	install -m 0755 support/auth/pgp-enc $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support/auth
	install -m 0755 support/auth/ripem-dec $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support/auth
	install -m 0755 support/auth/ripem-enc $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support/auth
	install -m 0755 support/auth/uudecode $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support/auth
	install -m 0755 support/auth/uuencode $(CURDIR)/debian/ncsa-httpd/usr/local/etc/httpd/support/auth

	# Everything else
	dh_auto_install

override_dh_usrlocal:
	# Lol, no.
